@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer components {
  .btn-primary {
    @apply px-8 py-2 bg-teal-400 text-slate-50 rounded-md;
  }
  .btn-secondary {
    @apply px-8 py-2 text-teal-400 bg-slate-50 rounded-md;
  }
}
@layer base {
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/lato-v20-latin-900.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/fonts/lato-v20-latin-900.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/lato-v20-latin-900.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/lato-v20-latin-900.woff")
        format("woff"),
      /* Modern Browsers */ url("./assets/fonts/lato-v20-latin-900.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/fonts/lato-v20-latin-900.svg#Lato") format("svg"); /* Legacy iOS */
  }
  /* inter-300 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/inter-v7-latin-300.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/fonts/inter-v7-latin-300.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/inter-v7-latin-300.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/inter-v7-latin-300.woff")
        format("woff"),
      /* Modern Browsers */ url("./assets/fonts/inter-v7-latin-300.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/fonts/inter-v7-latin-300.svg#Inter") format("svg"); /* Legacy iOS */
  }
  /* inter-regular - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/inter-v7-latin-regular.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/fonts/inter-v7-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/inter-v7-latin-regular.woff2")
        format("woff2"),
      /* Super Modern Browsers */
        url("./assets/fonts/inter-v7-latin-regular.woff") format("woff"),
      /* Modern Browsers */ url("./assets/fonts/inter-v7-latin-regular.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/fonts/inter-v7-latin-regular.svg#Inter") format("svg"); /* Legacy iOS */
  }
  /* inter-500 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/inter-v7-latin-500.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/fonts/inter-v7-latin-500.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/inter-v7-latin-500.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/inter-v7-latin-500.woff")
        format("woff"),
      /* Modern Browsers */ url("./assets/fonts/inter-v7-latin-500.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/fonts/inter-v7-latin-500.svg#Inter") format("svg"); /* Legacy iOS */
  }
  /* inter-600 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/inter-v7-latin-600.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/fonts/inter-v7-latin-600.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/inter-v7-latin-600.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/inter-v7-latin-600.woff")
        format("woff"),
      /* Modern Browsers */ url("./assets/fonts/inter-v7-latin-600.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/fonts/inter-v7-latin-600.svg#Inter") format("svg"); /* Legacy iOS */
  }
  /* inter-700 - latin */
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/inter-v7-latin-700.eot"); /* IE9 Compat Modes */
    src: local(""),
      url("./assets/fonts/inter-v7-latin-700.eot?#iefix")
        format("embedded-opentype"),
      /* IE6-IE8 */ url("./assets/fonts/inter-v7-latin-700.woff2")
        format("woff2"),
      /* Super Modern Browsers */ url("./assets/fonts/inter-v7-latin-700.woff")
        format("woff"),
      /* Modern Browsers */ url("./assets/fonts/inter-v7-latin-700.ttf")
        format("truetype"),
      /* Safari, Android, iOS */
        url("./assets/fonts/inter-v7-latin-700.svg#Inter") format("svg"); /* Legacy iOS */
  }
}
