@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {
  body {
    @apply bg-slate-200 dark:bg-slate-800;
  }
  a {
    @apply focus:outline-none focus:ring-2 focus:ring-teal-500;
  }
  h1 {
    @apply transition-all duration-300 font-lato text-8xl tracking-tight;
  }
  h5 {
    @apply font-inter text-xl font-bold transition-all duration-300;
  }
  @font-face {
    font-family: "Lato";
    font-style: normal;
    font-weight: 900;
    src: url("./assets/fonts/lato-v20-latin-900.eot");
    src: local(""),
      url("./assets/fonts/lato-v20-latin-900.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/lato-v20-latin-900.woff2") format("woff2"),
      url("./assets/fonts/lato-v20-latin-900.woff") format("woff"),
      url("./assets/fonts/lato-v20-latin-900.ttf") format("truetype"),
      url("./assets/fonts/lato-v20-latin-900.svg#Lato") format("svg");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 300;
    src: url("./assets/fonts/inter-v7-latin-300.eot");
    src: local(""),
      url("./assets/fonts/inter-v7-latin-300.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/inter-v7-latin-300.woff2") format("woff2"),
      url("./assets/fonts/inter-v7-latin-300.woff") format("woff"),
      url("./assets/fonts/inter-v7-latin-300.ttf") format("truetype"),
      url("./assets/fonts/inter-v7-latin-300.svg#Inter") format("svg");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("./assets/fonts/inter-v7-latin-regular.eot");
    src: local(""),
      url("./assets/fonts/inter-v7-latin-regular.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/inter-v7-latin-regular.woff2") format("woff2"),
      url("./assets/fonts/inter-v7-latin-regular.woff") format("woff"),
      url("./assets/fonts/inter-v7-latin-regular.ttf") format("truetype"),
      url("./assets/fonts/inter-v7-latin-regular.svg#Inter") format("svg");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    src: url("./assets/fonts/inter-v7-latin-500.eot");
    src: local(""),
      url("./assets/fonts/inter-v7-latin-500.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/inter-v7-latin-500.woff2") format("woff2"),
      url("./assets/fonts/inter-v7-latin-500.woff") format("woff"),
      url("./assets/fonts/inter-v7-latin-500.ttf")
        url("./assets/fonts/inter-v7-latin-500.svg#Inter") format("svg");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    src: url("./assets/fonts/inter-v7-latin-600.eot");
    src: local(""),
      url("./assets/fonts/inter-v7-latin-600.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/inter-v7-latin-600.woff2") format("woff2"),
      url("./assets/fonts/inter-v7-latin-600.woff") format("woff"),
      url("./assets/fonts/inter-v7-latin-600.ttf")
        url("./assets/fonts/inter-v7-latin-600.svg#Inter") format("svg");
  }
  @font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    src: url("./assets/fonts/inter-v7-latin-700.eot");
    src: local(""),
      url("./assets/fonts/inter-v7-latin-700.eot?#iefix")
        format("embedded-opentype"),
      url("./assets/fonts/inter-v7-latin-700.woff2") format("woff2"),
      url("./assets/fonts/inter-v7-latin-700.woff") format("woff"),
      url("./assets/fonts/inter-v7-latin-700.ttf")
        url("./assets/fonts/inter-v7-latin-700.svg#Inter") format("svg");
  }
}
